$zindex-modal-background  ?= 1040
$modal-backdrop-bg        ?= #000
$modal-backdrop-opacity   ?= .5

// Opacity
opacity-ie($opacity)
  opacity $opacity
  // IE8 filter
  $opacity-ie = ($opacity * 100)
  filter s('alpha(opacity=%s)', $opacity-ie)

// Kill the scroll on the body
.modal-open
  overflow hidden

// Modal background
.modal-backdrop
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index $zindex-modal-background
  background-color $modal-backdrop-bg
  opacity-ie(.5)
