{
  presets: [
    [
      '@babel/env',
      {
        modules: false,
        useBuiltIns: 'entry',
      },
    ],
  ],
  plugins: [
    '@babel/syntax-dynamic-import',
    '@vue/babel-plugin-transform-vue-jsx',
  ],
}
