$zindex-modal-background: 1040 !default;
$modal-backdrop-bg: #000 !default;
$modal-backdrop-opacity: 0.5 !default;

// Opacity
@mixin opacity-ie($opacity) {
  opacity: $opacity;
  // IE8 filter
  $opacity-ie: ($opacity * 100);
  // stylelint-disable-next-line plugin/no-unsupported-browser-features
  filter: alpha(opacity=#{$opacity-ie});
}

// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

// Modal background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal-background;
  background-color: $modal-backdrop-bg;
  @include opacity-ie(0.5);
}
